USE [master]
GO
/****** Object:  Database [SmartHomeDB]    Script Date: 2019-11-16 20:36:14 ******/
CREATE DATABASE [SmartHomeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SmartHomeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SmartHomeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SmartHomeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SmartHomeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SmartHomeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SmartHomeDB]
GO
/****** Object:  User [NT AUTHORITY\SYSTEM]    Script Date: 2019-11-16 20:36:14 ******/
CREATE USER [NT AUTHORITY\SYSTEM] FOR LOGIN [NT AUTHORITY\SYSTEM] WITH DEFAULT_SCHEMA=[NT AUTHORITY\SYSTEM]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\SYSTEM]
GO
/****** Object:  Table [dbo].[FilterTB]    Script Date: 2019-11-16 20:36:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilterTB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NameOfLevel] [nvarchar](max) NULL,
	[StartData] [date] NULL,
	[EndData] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HmoneyManagmentTb]    Script Date: 2019-11-16 20:36:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HmoneyManagmentTb](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DataOFTake] [date] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_HmoneyManagmentTb] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
